.LabeledBox {
  margin: 0 0 2em 0;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 3px;

  > .label {
    border-bottom: 1px solid #ed351c;
    padding: 1em;
    background-color: #f6f6f6;
  }

  > .content {
    padding: 1em;
    overflow: hidden;
  }
}
