$west-width: 17%;
$east-width: 25%;
$north-height: 50px;
$south-height: 50px;

.BorderLayout {

  .west {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $west-width;
    box-sizing: border-box;
  }

  .east {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $east-width;
    box-sizing: border-box;
  }

  .center {
    position: absolute;
    left: $west-width;
    right: $east-width;
    top: 0;
    bottom: 0;

    .north {
      position: absolute;
      top: 0;
      width: 100%;
      height: $north-height;
      box-sizing: border-box;
    }

    .middle {
      position: absolute;
      top: $north-height;
      bottom: $south-height;
      overflow: auto;
      width: 100%;
      box-sizing: border-box;
    }

    .south {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $south-height;
      box-sizing: border-box;
    }
  }
}

.BorderLayout:not(.east-visible) {
  .east {
    width: 0;
  }
  .center {
    right: 0;
  }
}

.BorderLayout:not(.west-visible) {
  .west {
    width: 0;
  }
  .center {
    left: 0;
  }
}

.BorderLayout:not(.north-visible) {
  .north {
    height: 0;
  }
  .middle {
    top: 0;
  }
}

.BorderLayout:not(.south-visible) {
  .south {
    height: 0;
  }
  .middle {
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .BorderLayout {
    .west {
      width: 0;
    }
    .center {
      left: 0;
    }
  }
}
