.MovementsPage {

  .middle {
    padding: 2em;

    @media (max-width: 768px) {
      padding: 1em 0 0 0;
    }
  }

  .west {
    background-color: #f6f6f6;
    text-align: center;

    .logo {
      width: 85%;
      margin-top: 10px;
    }
  }
}
