.MovementsPage {

  .middle {
    padding: 2em;

    .material-icons {
      vertical-align: middle;
    }
  }

  .west {
    background-color: #f6f6f6;
    text-align: center;

    .logo {
      width: 85%;
      margin-top: 10px;
    }
  }
}
