.StartPage {
  height: 100%;

  header {
    height: 25%;
    background-color: #f6f6f6;

    .logo {
      height: 85%;
      margin-left: 10px;
      margin-top: 10px;
    }
  }

  .wrapper {
    text-align: justify;
  }

  .wrapper > div {
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }

  .wrapper:after {
    content: "";
    width: 100%;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}


