.StartPage {

  header {
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: #f6f6f6;
    padding: 10px;
    box-sizing: border-box;

    .logo {
      height: 85%;
    }
  }

  .wrapper {
    position: absolute;
    top: 25%;
    width: 100%;
  }

  .wrapper > div {
    width: 33%;
    float: left;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}


