.CommitFailureDialog {
  .heading {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .error-msg {
    border: 1px solid #f99;
    background-color: #fff6f6;
    color: #ed351c;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  button {
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: white;
    cursor: pointer;
  }

  button.close {
    float: right;
  }

  button.close:hover {
    color: #ed351c;
  }
}
