.AerodromeList {
  li {
    .name {
      display: block;
      font-size: 1.3em;
      color: #444;
      margin-bottom: 0.4em;
    }

    .identification {
      display: block;
      color: #666;
    }
  }
}
