.DeparturePage {

  .PassengerData .LabeledComponent.carriage-voucher,
  .PassengerData .LabeledComponent.count,
  .FlightData .LabeledComponent.type,
  .FlightData .LabeledComponent.departure-route {
    border-bottom: 0;
  }
}

.DeparturePage.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
