.Movement {
  clear: both;
  padding: 1em;
  overflow: hidden;
  cursor: pointer;

  .column {
    float: left;
  }

  .immatriculation {
    width: 15%;
  }

  .pilot {
    width: 15%;
  }

  .date {
    width: 10%;
  }

  .time {
    width: 10%;
  }

  .location {
    width: 10%;
  }

  .action {
    width: 25%;
    text-align: right;
    font-size: 1.2em;
  }

  .delete {
    width: 15%;
    text-align: right;
    font-size: 1.2em;
  }

  .action > span:hover, .delete > span:hover {
    color: #ed351c;
  }
}

.Movement.locked {
  color: #555;
}

.Movement:hover {
  background-color: #f6f6f6;
}
