.ArrivalPage {

  .PassengerData .LabeledComponent.count,
  .DepartureArrivalData .LabeledComponent.landing-count,
  .DepartureArrivalData .LabeledComponent.arrival-time,
  .FlightData .LabeledComponent.type,
  .FlightData .LabeledComponent.arrival-route,
  .FlightData .LabeledComponent.runway {
    border-bottom: 0;
  }
}

.ArrivalPage.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
