.AdminPage {

  .middle {
    padding: 2em;

    .messages {

      > .content {
        padding: 0;
        max-height: 400px;
        overflow: auto;
      }
    }
  }

  .west {
    background-color: #f6f6f6;
    text-align: center;

    .logo {
      width: 85%;
      margin-top: 10px;
    }
  }
}
