.Finish {
  text-align: center;

  .msg {
    font-size: 2em;
    padding: 2em;
  }

  .wrapper {
    display: table;
    width: 80%;
    margin: 0 auto;

    > div {
      width: 50%;
      display: table-cell;
    }
  }
}
