.DatePicker {
  padding: 1px;
  border-bottom: 1px solid #000;

  .value {
    line-height: normal;
    box-sizing: border-box;
  }

  button.clear {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;
  }

  .date-picker {
    .dp-table.dp-month-view {
      width: 400px;
    }

    .dp-row.dp-week-day-names {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .dp-cell:not(.dp-week-day-name) {
      cursor: pointer;
      padding: 0.3em 0.5em;
    }

    .dp-month-view {
      .dp-cell.dp-next, .dp-cell.dp-prev {
        color: #666;
      }
    }

    .dp-cell.dp-value {
      color: #ed351c;
    }
  }
}

.DatePicker:not(.readonly) {

  .value {
    cursor: pointer;
  }
}

