.FilteredList {

  .empty-message {
    padding: 1em;
    color: #666;
    line-height: 1.5em;

    em {
      font-size: 1.3em;
      font-weight: bold;
      display: block;
      margin-bottom: 1em;
    }
  }

  li {
    border-bottom: 1px solid #fff;
    padding: 1em;
    cursor: pointer;
  }

  li:hover {
    background-color: #fff;

    * {
      color: #ed351c !important;
    }
  }
}
