.StartPage {

  header {
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: #f6f6f6;
    padding: 10px;
    box-sizing: border-box;

    .logo {
      height: 85%;
    }
  }

  .wrapper {
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper > div {
    width: 33%;
    margin: 1em 0;

    @media screen and (max-width: 768px) {
      width: 100%;
      display: inline-block;
      margin-top: 2em;
    }
  }

  a {
    text-decoration: none;
    color: #000;
  }
}


