.AirstatReportForm {

  .checkbox-container {
    margin-bottom: 2em;

    input[type=checkbox] {
      margin-right: 1em;
    }
  }

  .internal-description {
    display: block;

    dl {
      margin: 1em 0 2em 0;

      dt {
        font-size: 1em;
        margin-bottom: 0.5em;
        font-weight: 200;
        float: left;
        width: 150px;
      }

      dd {
        margin-bottom: 1em;
        margin-left: 150px;
      }
    }
  }

  .internal-description.hidden {
    display: none;
  }
}
