.TimeField {
  display: flex;
  align-items: center;

  a {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .number-block {
    width: 100px;

    > * {
      display: block;
      width: 100%;
      text-align: center;
    }

    input {
      border: 0;
      font-size: 1em;
    }
  }
}
