.JumpNavigation {
  font-size: 1.2em;
  margin-bottom: 2em;

  @media (max-width: 768px) {
    text-align: center;
  }

  > div {
    display: inline-block;
    margin: 0 1.5em 0  1.5em;

    @media (max-width: 640px) {
      .label {
        display: none;
      }
    }
  }

  > div:first-child {
    margin-left: 0;
  }

  > div:last-child {
    margin-right: 0;
  }

  a:hover {
    color: #ed351c;
  }
}
