.CommitRequirementsDialog {
  .heading {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .items {
    margin-bottom: 1em;

    li {
      margin-bottom: 0.5em;
    }

    li:before {
      font-family: 'Material Icons';
      content: '\e876';
      margin-right: 0.5em;
      vertical-align: middle;
    }
  }

  button {
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: white;
    cursor: pointer;
  }

  button.cancel {
    float: left;
  }

  button.cancel:hover {
    color: #ed351c;
  }

  button.confirm {
    float: right;
  }

  button.confirm:hover {
    color: #ed351c;
  }
}
