.MovementWizardPage {

  .west {
    background-color: #f6f6f6;
    text-align: center;

    .logo {
      width: 85%;
      margin-top: 10px;
    }
  }

  .east {
    background-color: #f6f6f6;
    box-shadow: -5px 0 10px 0 rgba(0,0,0,0.1);
    overflow: scroll;
  }

  .middle {

    fieldset {
      border: 0;
      margin: 1em;

      legend {
        font-size: 2em;
        margin-bottom: 1em;
      }

      .LabeledComponent {
        width: 45%;
        margin-right: 5%;
        margin-bottom: 1.5em;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-right: 0;
        }

        > label {
          display: block;
          margin-bottom: 1.5em;
        }
      }

      .LabeledComponent {
        border-bottom: 1px solid #000;
      }
    }
  }

  .south {
    font-size: 1.5em;
  }
}
