.WizardContainer {

  .wrapper {
    padding-bottom: 50px;

    main {

      fieldset {
        border: 0;
        margin: 1em;

        legend {
          font-size: 2em;
          margin-bottom: 1em;
        }

        .LabeledComponent {
          width: 45%;
          margin-right: 5%;
          margin-bottom: 1.5em;
          float: left;
          overflow: hidden;

          > label {
            display: block;
            margin-bottom: 1.5em;
          }
        }

        .LabeledComponent {
          border-bottom: 1px solid #000;
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 83%;
    background-color: #fff;
    font-size: 1.5em;
    height: 50px;
    clear: both;
  }
}
