.WizardBreadcrumbs {
  padding: 1em;

  ol {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  li {
    float: left;
    display: block;
  }

  a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  li.no-handler a {
    cursor: default;
  }

  li.active a {
    color: #ed351c;
  }
}
