.HelpPage {

  .middle {
    padding: 2em;

    .questions-list {
      margin-bottom: 2em;
      list-style: decimal inside;

      li {
        text-decoration: underline;
        cursor: pointer;
        margin: 0.5em 0 0.5em 0;
        font-size: 1.1em;
      }
    }
  }

  .west {
    background-color: #f6f6f6;
    text-align: center;

    .logo {
      width: 85%;
      margin-top: 10px;
    }
  }
}
