.ItemList {

  form {
    margin-bottom: 2em;

    input {
      border: solid #000;
      border-width: 0 0 1px 0;
      padding: 0.2em;
      font-size: 1.5em;
      margin-right: 1em;
    }

    button.add {
      border: none;
      background: none;
      font-size: 1.3em;
    }

    button.add:enabled {
      cursor: pointer;
    }

    button.add:hover:enabled {
      color: #ed351c;
    }
  }

  .items-wrap {
    max-height: 300px;
    overflow: auto;

    .Item {
      width: 130px;
      font-size: 1.3em;
      margin-bottom: 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button.remove {
        cursor: pointer;
        border: none;
        background: none;
      }

      button.remove:hover {
        color: #ed351c;
      }
    }
  }
}
