.MovementWizard {

  .west {
    background-color: #f6f6f6;
    text-align: center;

    .logo {
      width: 85%;
      margin-top: 10px;
    }
  }

  .middle {
    .LabeledComponent {
      width: 45%;
      margin-right: 5%;
      margin-bottom: 1.5em;
      display: inline-block;
      vertical-align: top;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
