.VerticalHeaderPage {

  header {
    background-color: #f6f6f6;
    width: 17%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;

    .logo {
      width: 85%;
      margin-top: 10px;
    }

    .LanguageNavigation {
      width: 17%;
      position: fixed;
      bottom: 10px;
      left: 0;
      font-size: 0.9em;

      li {
        text-align: left;
        float: left;
        width: 35%;
        padding-left: 10%;
      }

      a {
        color: #444;
        text-decoration: none;
      }
    }
  }

  .right {
    margin-left: 17%;
    width: 83%;
  }
}


